/* how to style the footer text */
.footerText {
    color: rgb(255,255,255);
}


/* keep the data direction */
.smallListRow {
    flex-direction: inherit !important;
}

/* smaller type of data cell */
.smallCell {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

/* special style for data card elements for float left and right */
.rightCard {
    text-align: right;
}

.leftCard {
    text-align: left;
}

/* style for query log table */
.queryLog {
    padding-left: 13px;
}

/* Override screen heights for .maxHeight elements */
@media only screen and (min-width: 992px) {
    .maxHeight {
        height: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .maxHeight { }
    .smallCell { }
    .smallListRow {
        flex-direction: column !important;
    }
    .rightCard {
        text-align: unset !important;
    }
    .leftCard {
        text-align: unset !important;
    }
}