# go files
go.sum

# generated css.js files
**/*.css.js

# ide files
.idea/

# testing/sample directories
.gudgeon

# output of make/target build
target
build
**/*.out

# asset files from vendors/third parties
**/vendor

# ignore rice-box files
**/rice-box.go

# spec file since it is generated
.copr/*.spec

# node modules or otherwise npm/webpack related files
node_modules
node_modules/**
package-lock.json

# webpack output (static) dist folder
web/static/**
