# go files
go.sum

# testing/sample directories
.gudgeon

# output
target
build
*.out

# ignore asset files from vendors
**/vendor

# ignore rice-box files
**/rice-box.go

# ignore spec file since it is generated
.copr/*.spec

# no node modules
node_modules
node_modules/**
package-lock.json

# ignore webpack output dist folder
web/static/**
