<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Gudgeon</title>
        <meta id="appName" name="application-name" content="Gudgeon">

        <!-- version javascript -->
        <script>
            function version() {
                return {
                    'version': "{{ .Version }}",
                    'longversion': "{{ .LongVersion }}",
                    'githash': "{{ .GitHash }}"
                };
            }
        </script>

        <!-- webpack bundled css -->
        <link rel="stylesheet" href="css/gudgeon.bundle.css">
    </head>
 
    <body>
      <noscript>Enabling JavaScript is required to run this app.</noscript>
      
      <!-- target for react application -->
      <div id="root" class="app-container"></div>
      
      <!-- webpack bundled dependencies -->
      <script src="js/gudgeon.bundle.js"></script>
    </body>
</html>

